<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/maisonzada/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/maisonzada" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i>
  </div>
</div>
