<div class="d-flex justify-content-around">
  <ul class="d-flex justify-content-around">
    <p><%= link_to 'Accueil', root_path %></p>
    <p><%= link_to 'Menu', menu_path %></p>
    <p><%= link_to 'Contact', contact_path %></p>
  </ul>
</div>
