<p>
  <img src="../assets/images/DSCF7799.jpg">
</p>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1>Maison Zada</h1>
    <p>Le meilleur de la street-food libanaise à Paris</p>
    <a class="btn btn-flat" href="#">Menu</a>
  </div>
</div>
